@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins" ,sans-serif;
    margin: 0;
    background-color: rgb(177, 177, 177);
}

header{
    padding: 1rem;
    display:flex;
    background-color: rgb(88, 88, 88);
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 3rem;
    color: white;
}
.button{
    background-color: chartreuse;
}
.button:hover{
    background-color: rgb(214, 245, 182);
}
main{
    margin-left: 100px;
    margin-right: 100px;
}

.card{
  width:18rem;
  margin:1%;
  box-shadow: 0  4px 5px rgba(0,0,0,0.2);
  border-radius:10px;
  
}

.card-body{
   background-color:  rgb(177, 177, 177);
   color:white;
}

.card img{
  height: 50vh;
  padding:0;
}
