body{
    margin: 0;
    padding: 0;
    background-color: #7e7a79;
    z-index: -1;
    background-image: url("../images/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.search-box{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
   background: white;
     }

.search-btn{
    position: relative;
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}

/* img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    left: 39.5%;
    right: 60.5%;
    text-align: center; */
    /* width: 40%;
    height: fit-content;
    max-width: 400px;
    min-width: 200px;
    position: relative; 
    
} */

/* .background-image {
    background-image: url("../images/background.gif");
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: bottom;
    display: flex;
   
  }